body {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
}

a {
  color: #307EA9;
}

ul {
  padding-left: 20px;
}

b, strong {
  color: #555;
}

li {
  padding: 0;
  list-style-type: square;
  font-size: 18px;
  margin-left: 0;
  line-height: 120%;
}

::selection {
  background-color: #2B2B2B;
  color: #eee;
}

.clear {
  clear: both;
}

.header {
  margin: 75px 0 5px 0;
}
  .header a, .header b {
    color: #444;
    text-decoration: none;
    transition: color 0.25s ease-in;
    -webkit-transition: color 0.25s ease-in;
  }
  .header a:hover, .header a:hover b {
    color: #307EA9;
  }

  .name a {
    font-size: 30px;
    font-family: 'Lato';
    font-weight: normal;
    text-transform: uppercase;
  }
  .name b {
    font-family: 'Lato';
    font-weight: bold;
  }

  .menu {
    padding: 0;
    margin: 0;
    font-family: 'Lato';
    font-weight: bold;
    text-transform: uppercase;
    float: right;
  }
  .menu li {
    display: inline;
    padding-left: 15px;
  }
  .menu li a{
    font-size: 14px;
  }

  .social {
    margin: 0;
    padding: 20px 0 0 0;
    text-align: right;
  }
  .social li {
    display: inline;
    font-size: 20px;
    padding: 0 10px;
  }
  .social li a {
    color: rgba(0,0,0,.6);
  }

.container {
  width: 960px;
  margin: 0 auto;
}

/*.hero {
  background-color: #2B2B2B;
  background-size: cover;
  height: 200px;
  box-shadow: inset 0 0 15px rgba(0,0,0,.5);
}
*/

.frontpost {
  max-width: 960px;
  margin-top: 25px;
}

/*.aside {
  margin-bottom: 25px;
  background-color: #eee;
  padding: 10px;
  font-size: 14px;
}
*/
.title {
  padding: 10px 10px 10px 23px;
  margin: 40px -30px 30px -30px;
  color: black;
}

h1 {
  margin: 0;
  font-family: 'Lato';
  font-weight: bold;
  font-size: 34px;
  font-weight: 400;
  color: #2c3e50;
}

  h1 em, h1 i {
    font-family: 'Lato' !important;
    font-weight: bold;
  }

  h2 {
    margin: 0px -30px 20px -30px;
    padding: 10px 30px 10px 30px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 24px;
    color: #444;
  }
    h2 em, h2 i {
      font-family: 'Lato' !important;
      font-weight: bold;
    }

  h3 {
    margin: 50px -30px 20px -27px;
    padding: 15px 30px;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    font-weight: 400;
    color: #444;
  }

.content {
  color: #999;
}
  .content i, .content em {
    font-family: 'Lato';
    color: #444;
    font-style: normal;
    font-weight: bold;
    background-color: #e2edf3;
    border-radius: 3px;
    font-size: 20px;
    padding: 4px 6px;    
  }
  .content b, .content strong {
    font-family: 'Lato';
    font-weight: bold;
  }
  .content em b {
    font-family: 'Lato';
    font-weight: bold;
  }
  .content p {
    font-size: 20px;
    line-height: 160%;
    margin: 25px 0;
    color: #777;
  }

  .content img:not(.frontpost), .content video {
    margin: 10px 0px;
    max-width: 960px;
    border-radius: 4px;
  }

  .content li {
    margin-bottom: 20px;
  }
  .content li img {
    margin: 15px 0 !important;
    width: 100%;
  }


  .content .when + p:first-of-type {
    display: inline;
  }

  .content blockquote p {
    color: #000;
    font-style: italic;
    font-size: 20px;
  }

  /* ugly hack to full-width tweets on non-mobile */
  @media not screen and (max-device-width: 480px) {
    .content .twitter-tweet {
      width: 100%;
    }
  }

  .when {
    padding-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #999;
  }

    .clear {
      height: 50px;
    }

.listing {
  margin: 25px 0;
  padding: 0;
}
  .listing li {
    list-style-type: none;
    margin-bottom: 0;
    padding: 7px 0 5px 0;
    font-size: 20px;
  }
  a {
    text-decoration: none;
  }
  .listing span {
    padding-top: 2px;
    float: right;
    text-transform: uppercase;
    font-size: 18px;
    color: #999;
  }

.footer {
    padding-top: 5px;
    padding-bottom: 75px;
}

.footer hr {
  border-top: 1px solid #eee;
}

.footer span {
    float: left;
    font-size: 13px;
    color: #999;
    padding-top: 2px;
}

.powered {
  padding: 0;
  margin: 0;
  font-family: 'Lato';
  float: right;
  font-size: 13px;
  color: #aaa;
}


  .meta {
    float: right;
  }
  .meta a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    transition: all 0.15s ease-in;
    -webkit-transition: all 0.15s ease-in;
  }
  .meta a:hover {
    text-shadow: 0 0 15px #000;
  }
  .meta .block {
    margin-top: 10px;
    display: inline-block;
    padding-right: 10px;
  }