<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-us">
<head>
{{ template "partials/meta.html" . }}

  <title>{{ .Site.Title}}</title>

{{ template "partials/includes.html" . }}
</head>

<body>
{{ template "partials/header.html" . }}

  
<!--   <div class="hero" style="background-image: url(http://cl.ly/image/0H0M0W1u463f/content);"></div>
 -->  

<section class="container content">
  <ul class="listing">
    {{ range .Data.Pages.ByDate.Reverse }}
    <li>
      <span>{{ .Date.Format "Jan 2, 2006"}}</span> <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ end }}
  </ul>
</section>

{{ template "partials/footer.html" . }}
  
</body>
</html>