<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ page.title }}</title>

    <meta charset="utf-8">
    <meta name="author" content="{{ site.author.name }}" />
    <meta name="description" content="{{ site.description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div class="container">
    
        <div class="navbar navbar-inverse">
            <div class="navbar-inner">
                <div class="containter">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>

                    <a class="brand" href="/">&nbsp; {{ site.title | upcase }}</a>
                </div>
            </div>
        </div> 

        {{ content }}

        <hr>
        
        <footer id="footer">
                &copy; apertoire.net 2010-2013
        </footer>    

    </div><!-- /container -->

    <script src="lib/jquery-1.8.3.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel();
      });
    </script>

    {% include analytics.html %} 
</body>
</html>